*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}


@media only screen and (max-width: 940px) {

	#hero-text h1{

   font-weight: 600;
    font-size: 30px;
   	color: #E61722;
    padding-top: 34px;

  	}


	#hero-text h4{
		font-weight: 500;
		font-size: 16px;
		color: #000;
		line-height: 35px;
		padding-top: 10px;
		padding-bottom: 10px;


		}

	.btn-2{

		background-color: #E61722!important;
		color: white!important;
		font-size: 16px!important;
		padding: 10px 20px!important;
		 }


	.btn-3

		
	{
	border: 2px solid #E61722!important;

	color:#E61722!important;
	font-size: 16px!important;
	padding: 10px 20px!important;
	margin-left: 13px!important;

	}
	
			.counter-text h3{

			font-weight: 700;
			font-size: 18px;
			padding-top: 10px;
			padding-bottom: 10px;
			}

			.counter-text p{
			font-weight: 500;
			font-size: 16px;
								
			}

			#counter-col
			{
			border: 1px solid #dcdcdc;
			padding: 30px 15px;
			cursor: pointer;

			}

			.text-h2-1 h2
			{
			padding-top: 40px;
			padding-bottom: 10px;
			} 

			#card
			{

			padding-bottom: 0px;
			padding-left: 20px;
			padding-right: 0px;
			}

			#card-text-001 img
			{

		
			width: 180px;
	
			padding-bottom: 30px;
			cursor:pointer;
			}

			#card-text-001 p
			{
			font-size: 15px;
			}

			.nav-icons i 
			{padding: 0px!important;}

			.formm{

			background-color: #E61722;
			padding: 28px!important;
			color: white!important;

			}
			.text-h2 h2
			{ font-size:29px!important; }






   	}

	

@media only screen and (max-width: 420px) {
	#counter
		{
		padding-bottom: 10px;
		}
		#counter-h2
		{
			padding-top: 30px!important;
			padding-bottom: 10px;
		}
		h2
		{
			font-size: 26px!important;
		}
		#counter-col
		{margin-top: 20px;
		margin-bottom:20px;}

		#text-media
		{
			padding-top: 40px;
			padding-bottom: 50px;
		}
		#text-media-1
		{
			padding-top: 0px;
			padding-bottom: 30px;
		}

		.text-h2-1 h2
		{
			padding-top: 40px;
			padding-bottom: 10px;
		} 

		#footer-main-2
		{
			padding-top: 20px!important;
			padding-bottom: 20px!important;
		}

		.footer-h4 h4
		{padding-top: 1px!important;}

		#footer-main-h3 h3
		{text-align: center;
		line-height: 0px;
		padding-top: 60px!important;}

		#cta
		{
			padding-bottom: 60px;
			padding-top: 60px;
		}
		#card
		{

		padding-bottom: 0px;
		padding-left: 20px;
		padding-right: 0px;
	}

	#pod-image
	{padding-top: 30px;}

	#counter-card
	{
	padding-bottom: 20px;
	padding-top: 0px!important;
	}

	#card-002
{
	background-color: #2F39D3;
	padding-top: 30px;
	padding-bottom: 0px;
}

#card-text-001
{
	padding-top: 30px;
}
#card-001
{
	background-color: #2F39D3;
	padding-top: 0px;
	padding-bottom: 60px;
}



#contact-form-01
{
	padding-top: 60px;
	padding-bottom:60px;
	background-color: #F9F9F9;
	}



	#nav-1
{
	padding-top: 20px!important;
}

h1
{
	padding-top: 0px!important;
}

}